body {
    height: 100%;
    text-align: center;
    background-color: #1e1e25;
    font-family: 'Noto Sans JP';
    font-size: 2vw;
}

h1 {
    margin: 0;
    color: #e2d99e;
    height: 10vmin;
    text-shadow: 0px 2px 2px rgb(182, 182, 182);
}

#text {
    display: block;
    margin: auto;
}

a {
    text-decoration: none; 
    font-size: 3vmin;
    color: #888362;
}

#container {
    margin: 0 auto;
    border-radius: 2%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "settings1 board settings2";
    justify-content: center;
    column-gap: 2vw;
}

#settings1 {
    width: 15vw;
    grid-area: settings1;
    font-size: 4.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#settings2 {
    width: 15vw;
    font-size: 3vmin;
    grid-area: settings2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#board {
    display: grid;
    grid-area: board;
    background-color: white;
    height: 80vmin;
    width: 80vmin;
    border-style: solid;
    border-color: bisque;
    border-radius: 2px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.switch:hover {
    transform: scale(1.2);
}

.indicator {
    width: 2vw;
    height: 2vw;
}

#lightenSwitch {
    display: none;
}

#rndmSwitch {
    display: none;
}

#darkenSwitch {
    display: none;
}

#sizes {
    margin-top: -2vh;
    width: 7vw;
}

.bttn {
    border: none;
    color: #1e1e25;
    background-color: #e2d99e;
    font-family: 'Noto Sans JP';
    font-size: 3vmin;
    border-radius: 10px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 2vmin;
}

.bttn:hover {
    transform: scale(1.2);
}

p {
    margin-bottom: 0;
    margin-top: 1vh;
    color: #b6b191;
    text-shadow: 1px 1px 2px black;
}

.setting-text:hover {
    color: #f5efc7;
    text-shadow: 1px 1px 2px rgb(7, 7, 7);
}