body {
    height: 100%;
    text-align: center;
    background-color: #661717;
    font-family: 'Noto Sans JP';
    font-size: 2vw;
}

h1 {
    margin: 0;
    color: #fff4b0;
    height: 10vmin;
    text-shadow: 0px 3px 2px #8a835e;
}

#text {
    display: block;
    margin: auto;
}

a {
    text-decoration: none; 
    font-size: 2.5vmin;
    color: #cac5a1;
}

#container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "settings1 board settings2";
    justify-content: center;
    column-gap: 2vw;
}

#settings1 {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(117, 29, 29);
    background-color: brown;
    box-shadow: 0px 0px 10px rgb(65, 6, 6);
    width: 15vw;
    grid-area: settings1;
    font-size: 4.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#settings2 {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(117, 29, 29);
    background-color: brown;
    box-shadow: 0px 0px 10px rgb(65, 6, 6);
    width: 15vw;
    font-size: 3vmin;
    grid-area: settings2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#board {
    display: grid;
    grid-area: board;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(65, 6, 6);
    height: 80vmin;
    width: 80vmin;
    border-style: solid;
    border-width: 5px;
    border-color: bisque;
    border-radius: 2px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.switch:hover {
    transform: scale(1.2);
}

.indicator {
    width: 2vw;
    height: 2vw;
}

#lightenSwitch {
    display: none;
}

#rndmSwitch {
    display: none;
}

#darkenSwitch {
    display: none;
}

#sizes {
    margin-top: -2vw;
    border-radius: 10px;
    background-color: #faf4d1;
    font-weight: bold;
    cursor: pointer;
    width: 11vmin;
    height: 4.2vmin;
}

.bttn {
    border: none;
    color: #1e1e25;
    background-color: #e2d99e;
    font-family: 'Noto Sans JP';
    font-size: 3vmin;
    border-radius: 10px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 2vmin;
}

.bttn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

p {
    margin-bottom: 0;
    margin-top: 1vh;
    color: #dbd6b1;
    text-shadow: 1px 1px 2px black;
}

.setting-text:hover {
    text-shadow: 1px 1px 2px rgb(7, 7, 7);
    cursor: pointer;
}

#normal-text:hover {
    color: #f5efc7;
    text-shadow: 1px 1px 2px rgb(7, 7, 7);
    cursor: pointer;
    transform: scale(1.2);
}

#paint-color {
    border-radius: 7px;
    cursor: pointer;
}

#board-color {
    border-radius: 7px;
    cursor: pointer;
}